.paymentList {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.paymentTitle {
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14286;
}
.paymentMethodForm {
  margin-bottom: 20px;
}
