.section {
  display: flex;

  /* grid-area: 1 / 2 / 2 / 3; */
  flex-direction: column;

  /* gap: 32px; */
  gap: 20px;

  width: 100%;
  max-width: 418px;
}

.section h1 {
  font-family: var(--font-family);
  font-size: 18px;
  font-weight: 600;
  line-height: 111%;
  color: #000;
}

.section .price {
  font-family: var(--font-family);
  font-size: 16px;
  font-weight: 400;
  color: #000;
  text-transform: capitalize;
  letter-spacing: -0.04em;
}

.amount {
  display: flex;
  gap: 14px;
  align-items: center;
}

.amount > p {
  font-family: var(--font-family);
  font-size: 16px;
  font-weight: 400;
  color: #000;
  text-transform: capitalize;
  letter-spacing: -0.04em;
}

.amount > .control {
  display: flex;
  gap: 10px;
  align-items: center;
}

.control > span {
  display: block;

  min-width: 30px;

  font-family: var(--font5);
  font-size: 24px;
  font-weight: 500;
  line-height: 58%;
  color: #000;
  text-align: center;
  letter-spacing: 0;
}

.btns {
  display: flex;
  justify-content: space-between;

  /* gap: 22px; */
  width: 100%;
  max-width: 418px;
}

@media (width >= 480px) {
  .section h1 {
    font-size: 20px;
  }
}

@media (width >= 768px) {
  .section {
    grid-area: 1 / 2 / 2 / 3;
    gap: 16px;
  }

  .section h1 {
    font-size: 24px;
    font-weight: 500;
    line-height: 167%;
  }

  .amount {
    height: 40px;
  }
}

@media (width >= 1024px) {
  .section {
    gap: 32px;
  }

  .section h1 {
    font-size: 28px;
  }

  .amount {
    height: fit-content;
  }
}

@media (width >= 1280px) {
  .section h1 {
    font-size: 32px;
    line-height: 112%;
  }
}
