.cardInfoInput {
  width: 462px;
  padding: 8px 12px;
  border: 1px solid #e2e2e2;
  border-radius: 8px;

  background-color: #fff;
}

.cardInfoForm {
  display: flex;
  flex-direction: column;
  gap: 16px;

  width: 528px;
  margin-bottom: 20px;
  padding: 16px 50px 16px 16px;
  border: 1px solid #e2dcdc;
  border-radius: 10px;

  font-size: 14px;
}

.cardInfoLabel {
  margin-bottom: 8px;

  font-size: 14px;
  font-weight: 500;
  line-height: 1.14286;
}

.error {
  font-size: 0.85rem;
  color: red;
}
