.pagination {
  display: flex;
  gap: 22px;
  align-self: center;

  margin-top: 47.5px;
}

.pagination .icon {
  width: 12px;
  height: 12px;

  color: #000;
}

.pagination .icon.next {
  rotate: 180deg;
}

.pagination > div {
  display: flex;
  gap: 4px;
}
