.button {
  cursor: pointer;

  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;

  border: none;

  outline: none;

  transition: all 0.3s;
}

.button--icon {
  width: 24px;
  height: 24px;
  padding: 0;
}

.button--card {
  width: 100%;
  padding: 12.5px;
  border-radius: 10px;

  font-family: var(--second-family);
  font-size: 12px;
  font-weight: 500;
  color: #fff;
  letter-spacing: -0.01em;

  background: var(--accent);
}

.button--card:active {
  background: var(--pressed);
  box-shadow: none;
}

.button--inCard {
  width: 100%;
  padding: 12.5px 10px;
  border-radius: 10px;

  font-family: var(--second-family);
  font-size: 12px;
  font-weight: 500;
  color: var(--black);
  letter-spacing: -0.01em;

  background: rgb(156 53 65 / 20%);
}

.button--slider {
  width: 26px;
  height: 35px;
  border: 1px solid var(--black);
  border-radius: 90px;
}

.button--burger {
  width: 44px;
  height: 44px;
  border-radius: 100%;

  background: #fff7f7;
}

.button--filter {
  width: 100%;
  padding: 11px 40px;
  border: 1px solid #000;
  border-radius: 10px;

  font-family: var(--font-family);
  font-size: 12px;
  font-weight: 500;
  color: #000;
}

.button--filter_active {
  width: 100%;
  padding: 11.8px 40px;
  border-radius: 10px;

  font-family: var(--font-family);
  font-size: 12px;
  font-weight: 500;
  color: #fff;

  background: linear-gradient(50deg, #532834 0%, #b95873 100%);
}

.button--clear_filter {
  width: fit-content;

  font-family: var(--font-family);
  font-size: 12px;
  font-weight: 500;
  line-height: 133%;
  color: var(--accent);
  text-align: left;
}

.button--shop {
  width: 196px;
  height: 46px;
  padding: 24px;
  border-radius: 40px 0;

  font-family: var(--second-family);
  font-size: 17px;
  font-weight: 500;
  color: #fff;
  letter-spacing: -0.01em;

  background: linear-gradient(50deg, #532834 0%, #b95873 100%);
  box-shadow: 2px 2px 10px 0 #94465c;
}

.button--shop:active {
  background: linear-gradient(50deg, #532834 61.06%, #b95873 100%);
  box-shadow: none;
}

.button--product_cart > svg {
  width: 19px;
  height: 19px;

  color: #fff;
}

.button--product_in_cart > svg {
  width: 19px;
  height: 19px;

  color: #000;
}

.button--product_cart {
  display: flex;
  gap: 12px;

  width: 185px;
  padding: 14.5px 40px;
  border-radius: 10px;

  font-family: var(--second-family);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.215;
  color: #fff;
  text-align: center;
  letter-spacing: -0.01em;

  background: var(--accent);
}

.button--product_cart:disabled {
  background: var(--light-gray);
}

.button--product_cart:disabled:hover {
  cursor: auto;

  background: var(--light-gray);
}

.button--product_cart:active {
  background: var(--pressed);
}

.button--product_in_cart {
  display: flex;
  gap: 12px;

  width: 185px;
  padding: 7px 40px;
  border-radius: 10px;

  font-family: var(--second-family);
  font-size: 14px;
  font-weight: 500;
  color: #000;
  text-align: center;
  letter-spacing: -0.01em;

  background: #f4d7dd;
  box-shadow: none;
}

@media (hover: hover) and (pointer: fine) {
  .button--product_in_cart:hover {
    background: #f4d7dd;
    box-shadow: 0 4px 4px 0 rgb(0 0 0 / 25%);
  }

  .button--product_cart:hover {
    background: var(--hover);
  }

  .button--shop:hover {
    background: linear-gradient(
      50deg,
      rgb(83 40 52 / 90%) 0%,
      rgb(185 88 115 / 80%) 100%
    );
    box-shadow: 2px 2px 10px 1px #a35b6f;
  }

  .button--clear_filter:hover {
    border-color: transparent;

    background: #fff7f7;
    box-shadow: 0 4px 4px 0 rgb(0 0 0 / 25%);
  }

  .button--slider:hover {
    border-color: var(--accent);

    box-shadow: 0 4px 10px 0 var(--accent);
  }

  .button--inCard:hover {
    background: #ffe4ea;
    box-shadow: 0 4px 4px 0 rgb(0 0 0 / 25%);
  }

  .button--card:hover {
    background: var(--hover);
    box-shadow: 0 4px 4px 0 rgb(0 0 0 / 25%);
  }
}

@media (width >= 768px) {
  .button--burger {
    display: none;
  }

  .button--clear_filter {
    width: 100%;
    padding: 7.2px 0;
    border: 1px solid #000;
    border-radius: 10px;

    font-family: var(--second-family);
    font-size: 16px;
    color: #000;
    text-align: center;
    letter-spacing: -0.01em;
  }

  .button--clear_filter:disabled {
    color: #fff;

    background: var(--light-gray);
  }
}

@media (width >= 1024px) {
  .button--card {
    padding: 5px 18px;

    font-size: 14px;
  }

  .button--inCard {
    padding: 5px 18px;

    font-size: 14px;
  }
}
