.button {
  cursor: pointer;

  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;

  border: none;

  outline: none;

  transition: all 0.3s;
}

.button--icon {
  width: 24px;
  height: 24px;
  padding: 0;
}

.button--card {
  width: 100%;
  padding: 12.5px 28px;
  border-radius: 10px;

  font-family: var(--second-family);
  font-size: 12px;
  font-weight: 500;
  color: #fff;
  letter-spacing: -0.01em;

  background: var(--accent);
}

.button--card:hover {
  background: var(--hover);
  box-shadow: 0 4px 4px 0 rgb(0 0 0 / 25%);
}

.button--card:active {
  background: var(--pressed);
  box-shadow: none;
}

.button--inCard {
  width: 100%;
  padding: 12.5px 10px;
  border-radius: 10px;

  font-family: var(--second-family);
  font-size: 12px;
  font-weight: 500;
  color: var(--black);
  letter-spacing: -0.01em;

  background: rgb(156 53 65 / 20%);
}

.button--inCard:hover {
  background: #ffe4ea;
  box-shadow: 0 4px 4px 0 rgb(0 0 0 / 25%);
}

.button--slider {
  width: 26px;
  height: 35px;
  border: 1px solid var(--black);
  border-radius: 90px;
}

.button--slider:hover {
  border-color: var(--accent);

  box-shadow: 0 4px 10px 0 var(--accent);
}

.button--burger {
  width: 44px;
  height: 44px;
  border-radius: 100%;

  background: #fff7f7;
}

@media (width >= 768px) {
  .button--burger {
    display: none;
  }

  .button--card {
    padding: 5px 18px;

    font-size: 14px;
  }

  .button--inCard {
    padding: 5px 18px;

    font-size: 14px;
  }
}
