.descriptions,
.options {
  display: flex;
  flex-direction: column;

  width: 100%;

  font-family: var(--font-family);
  font-size: 14px;
  font-weight: 500;
  line-height: 114%;
  color: #000;
}

.descriptions {
  grid-area: 2 / 1 / 3 / 2;

  max-width: 417px;
  margin-left: 111px;
}

.options {
  grid-area: 2 / 2 / 3 / 3;
  gap: 16px;

  max-width: 419px;
  padding-left: 2px;
}

.descriptions h4,
.options h4 {
  font-weight: 700;
}

.option {
  display: flex;
  flex-direction: column;
}
