.home {
  display: flex;
  flex-direction: column;
  gap: 40px;

  padding-bottom: 72px;

  background: #ffedf1;
}

@media (width >= 1024px) {
  .home {
    gap: 60px;
  }
}

@media (width >= 1280px) {
  .home {
    gap: 80px;
  }
}
