.stars {
  display: flex;
  gap: 8px;

  width: fit-content;
  margin-bottom: 8px;
}

.stars img {
  width: 32px;
  height: 32px;

  transition: transform 0.2s ease;
}

.stars img:hover {
  transform: scale(1.1);
}
