.wrapper {
  position: relative;

  width: 100%;
  max-width: 400px;
}

div.container.sort {
  cursor: pointer;

  position: static;

  padding: 8px 8px 9px 11px;
  border: 1px solid #000;
  border-radius: 10px;

  font-family: var(--font-family);
  font-size: 12px;
  font-weight: 500;
  line-height: 114%;
  color: #000;

  letter-spacing: 0.01em;
}

div.container.sort .option {
  cursor: pointer;

  display: block;

  padding: 8px 9.5px;
  border-radius: 0;

  font-family: var(--font-family);
  font-size: 12px;
  font-weight: 500;
  line-height: 133%;
  color: #000;

  animation: appear 0.35s;
  animation-fill-mode: backwards;
}

div.container.sort .option_focused {
  cursor: pointer;

  background: #d7a6af;
}

.indicator {
  display: inline-flex;
}

.indicator {
  transition: transform 0.35s;
}

.indicator.opened {
  transform: rotate(180deg);
}

.multi {
  display: flex;
  gap: 5px;
  align-items: center;

  margin-right: 10px;
}

.multi-remove {
  align-self: center;
}

.value-container {
  width: 100%;
  max-width: 500px;
}

.message {
  position: absolute;

  font-size: 0.75em;
  letter-spacing: 0.01em;
}

@keyframes appear {
  from {
    transform: translateX(-100%);
  }

  to {
    transform: translateX(0%);
  }
}

div.container.sort > div.control {
  cursor: pointer;

  align-items: center;

  min-height: auto;
  padding: 0;
}

div.container.sort .menu {
  position: absolute;
  top: 43px;
  left: 0;

  padding: 0;
  border-radius: 10px;

  background-color: #fbfbfb;
}

.menu-list {
  scrollbar-width: none;

  display: flex;
  flex-direction: column;
  gap: 0;

  border-radius: 10px;
}

@media (width >= 768px) {
  div.container.sort {
    padding: 4px 8px 5px 11px;
  }

  div.container.sort .menu {
    top: 34px;
  }

  div.container.sort .option {
    padding: 8px 10px 7px;
  }
}

@media (width >= 1024px) {
  div.container.sort {
    padding: 5px 8px 5px 9px;

    font-size: 14px;
  }

  div.container.sort .menu {
    top: 36px;
  }

  div.container.sort .option {
    padding: 5px 9px;

    font-size: 14px;
    line-height: 114%;
  }

  .menu-list {
    gap: 8px;
  }
}
