.embla {
  --slide-spacing: 1rem;
  --slide-size: 100%;

  display: flex;
  flex-direction: column-reverse;
  gap: 25px;

  align-items: center;

  width: 100%;
  max-width: 563px;
}

.embla > .wrapper {
  position: relative;

  width: 100%;
  max-width: clamp(16.5rem, -12.375rem + 60.156vw, 26.125rem);
}

.embla__viewport {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 21px;
}

.embla__container {
  touch-action: pan-y pinch-zoom;

  display: flex;

  margin-left: calc(var(--slide-spacing) * -1);
}

.embla__slide {
  flex: 0 0 var(--slide-size);

  min-width: 0;
  padding-left: var(--slide-spacing);
}

.embla__slide > picture > img {
  /* aspect-ratio: 1.5; */
  aspect-ratio: 0.93;
  width: 100%;
  height: auto;

  /* object-fit: cover; */
}

.button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.button.next {
  right: -34px;
}

.button.prev {
  left: -34px;
}

.button.next .icon {
  rotate: 180deg;
}

.icon {
  width: 8px;
  height: 21px;

  transition: all 0.3s;
}

.embla__dots {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  align-items: center;
  justify-content: center;
}

.embla__dot {
  touch-action: manipulation;
  cursor: pointer;

  display: inline-flex;
  display: flex;
  align-items: center;
  justify-content: center;

  width: 13px;
  height: 13px;
  margin: 0;
  padding: 0;
  border: 0;
  border-radius: 50%;

  text-decoration: none;

  appearance: none;
  background-color: #b2b2b2;
}

.embla__dot--selected {
  background: linear-gradient(50deg, #532834 0%, #b95873 100%);
}

@media (hover: hover) and (pointer: fine) {
  .button:hover .icon {
    color: var(--accent);
  }
}

.embla-thumbs {
  width: 100%;
  max-width: 418px;
}

.embla-thumbs__viewport {
  overflow: hidden;
  display: flex;
  justify-content: center;

  height: 100%;
}

.embla-thumbs__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  width: 100%;
  max-width: 418px;
  max-width: clamp(16.5rem, -12.375rem + 60.156vw, 26.125rem);

  height: 100%;
}

.embla-thumbs__slide {
  width: 52px;
  height: 52px;
  border: 2px solid transparent;
}

.embla-thumbs__slide__number {
  cursor: pointer;

  width: 52px;
  height: 52px;
}

.embla-thumbs__slide__number > picture > img {
  aspect-ratio: 1;
  width: 100%;
  height: auto;
}

.embla-thumbs__slide--selected .embla-thumbs__slide__number {
  opacity: 0.2;
}

@media (width >= 768px) {
  .embla {
    grid-area: 1 / 1 / 2 / 2;

    padding-right: 20px;
  }

  .embla__slide > picture > img {
    aspect-ratio: 1.76;
  }
}

@media (width >= 1024px) {
  .embla__slide > picture > img {
    aspect-ratio: 1.5;
  }
}

@media (width >= 1280px) {
  .embla {
    flex-direction: row;
    gap: 59px;
    align-items: normal;
  }

  .embla-thumbs {
    max-width: 52px;
  }

  .embla-thumbs__container {
    flex-direction: column;
  }
}
