.button {
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: start;

  min-width: 37px;
  height: 24px;
  padding: 2px;

  color: var(--black);
}

.button .span {
  font-size: 16px;
  line-height: 1;
}

.button::after {
  content: '';

  display: inline-block;

  width: 0;
  height: 0;
  margin-right: 3px;
  border-top: 5px solid black;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;

  vertical-align: middle;
}

@media (hover: hover) and (pointer: fine) {
  .button:hover {
    border-radius: 4px;

    background: #e9e0e1;
  }
}

@media (width >= 1024px) {
  .button {
    min-width: 40px;
    height: 28px;
    padding-top: 3px;
  }

  .button .span {
    font-size: 18px;
  }

  .button::after {
    right: 0;
  }
}

@media (width >= 1200px) {
  .button {
    height: 32px;
    padding-top: 5px;
  }

  .button .span {
    font-size: 18px;
  }

  .button::after {
    right: 0;
  }
}
