.box {
  position: absolute;
  right: 90px;
  bottom: 80px;
}

.icon_1 {
  position: absolute;
  right: 35px;
  bottom: 243px;
}

.icon_2 {
  position: absolute;
  right: 0;
  bottom: 345px;
}

.icon_3 {
  position: absolute;
  right: 52px;
  bottom: 390px;
}

.icon_4 {
  position: absolute;
  top: 175px;
  right: 70px;
}

.icon_5 {
  position: absolute;
  top: 82px;
  right: 65px;
}

.icon_6 {
  position: absolute;
  right: 460px;
  bottom: 227px;
}

.icon_7 {
  position: absolute;
  right: 365px;
  bottom: 323px;
}

.icon_8 {
  position: absolute;
  top: 242px;
  right: 252px;
}

.icon_9 {
  position: absolute;
  top: 122px;
  right: 208px;
}

.icon_10 {
  position: absolute;
  right: 555px;
  bottom: 308px;
}

.icon_11 {
  position: absolute;
  top: 230px;
  right: 422px;
}

.icon_12 {
  position: absolute;
  top: 83px;
  right: 368px;
}

.icon_13 {
  position: absolute;
  top: 203px;
  right: 545px;
}

.icon_14 {
  position: absolute;
  top: 259px;
  right: 743px;
}

.icon_15 {
  position: absolute;
  top: 182px;
  right: 654px;
}

.icon_16 {
  position: absolute;
  top: 86px;
  right: 550px;
}

.icon_17 {
  position: absolute;
  top: 82px;
  right: 734px;
}
