.card {
  position: relative;

  display: block;
  display: flex;
  flex-direction: column;
  gap: 12px;

  width: 100%;
  max-width: 203px;
  padding: 12px 25px 22px;
  border-radius: 20px;

  background: var(--surface);
  box-shadow: 4px 4px 4px 0 rgb(0 0 0 / 25%);
}

.card .img {
  border-radius: 10px;
}

.card .title {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.card .title h3 {
  font-family: var(--font-family);
  font-size: 16px;
  font-weight: 600;
  line-height: 112%;
  color: #000;
  text-align: center;
}

.card .title h4 {
  font-family: var(--font-family);
  font-size: 14px;
  line-height: 114%;
  color: #000;
}

.card .price {
  font-family: var(--font-family);
  font-size: 14px;
  font-weight: 500;
  color: #000;
}
