.category {
  padding: 10px;
  border: 1px solid black;
}

form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.inputs {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.action {
  display: flex;
  justify-content: space-between;
}
